{% extends "base.html" %}

{% block title %} inicio {% endblock %}

{% block content %}
    <div class= "logo">
        <h1>Pasteleria</h1>
    </div>

    <div class="navbar">
        <ul>
            <li><a href="/">inicio</a></li>
            <li><a href="#servicios">Sercivios</a></li>
            <li><a href="#contactos">contactos</a></li>
        </ul>
    </div>

    <div class="informacion">
        <div class="nosotros">
            <h2>Sobre Nosostros</h2>
            <p></p>
        </div>
        <div class="lema">
            <h2>Lema</h2>
            <p></p>
        </div>
    </div>

    <div class="sercivios">
        <h2>Servicios</h2>
        <p></p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


    <div class="contactos">
        <h2>Contactos</h2>
        
    </div>
{% endblock %}